.subscription {
  padding: 35px 0 33px;
  @include bg-image;
  &__title {
    margin-bottom: 18px;
  }
  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
  }
  &__filter:not(:last-child) {
    margin-right: 25px;
  }
  &__filter-button {
    padding: 13px 0;
    font-size: 12px;
    font-weight: 500;
    color: $color-pink;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    width: 100%;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 25px 25px 30px;
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }
  &__caption {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
  }
  &__description {
    max-width: 140px;
    margin: 0 auto 10px;
    line-height: 150%;
    color: $color-pink;
  }
  &__price {
    display: block;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 111%;
  }
  @include media(M) {
    // margin-bottom: 120px;
    &::after {
      content: "03";
    }
    &__title {
      margin-bottom: 4px;
    }
    &__filters {
      margin-bottom: 25px;
    }
    &__filter:not(:last-child) {
      margin-right: 33px;
    }
    &__filter-button {
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.5s;
    }
    &__list {
      justify-content: space-between;
    }
    &__item {
      max-width: 176px;
    }
    &__item:not(:last-child) {
      margin-bottom: 0;
    }
    &__article {
      padding: 38px 25px 30px;
    }
    &__caption {
      margin-bottom: 8px;
      font-size: 18px;
    }
    &__description {
      max-width: 120px;
    }
    &__price {
      // margin-bottom: 0;
      font-size: 21px;
    }
    // &__button {
    //   display: none;
    // }
  }
  @include media(XL) {
    margin-bottom: 80px;
    padding: 70px 0;
    &__title {
      margin-bottom: 33px;
    }
    &__filters {
      margin-bottom: 37px;
    }
    &__filter:not(:last-child) {
      margin-right: 59px;
    }
    &__filter-button {
      padding: 0;
      &:hover {
        border-bottom: 1px solid $color-pink;
      }
    }
    &__item {
      max-width: 263px;
    }
    &__article {
      padding: 57px 54px;
      &:hover {

      }
    }
    &__caption {
      margin-bottom: 18px;
    }
    &__price {
      font-size: 30px;
    }
  }
}
