<section class="subscription" id="subscription" style="background-image: url(./assets/img/subscription-bg.png)">
  <div class="container">
    <h3 class="subscription__title title">
      Абонементы
    </h3>

    <ul class="subscription__filters">
      <li class="subscription__filter">
        <button class="subscription__filter-button subscription__filter-button--default" type="button">
          1 месяц
        </button>
      </li>

      <li class="subscription__filter">
        <button class="subscription__filter-button" type="button">
          6 месяцев
        </button>
      </li>

      <li class="subscription__filter">
        <button class="subscription__filter-button" type="button">
          12 месяцев
        </button>
      </li>
    </ul>

    <ul class="subscription__list">
      <li class="subscription__item">
        <article class="subscription__article">
          <span class="subscription__caption">
            Утро
          </span>
          <div class="subscription__description">
            <p>
              Посещение
            </p>
            <p>
              <time>с 11:00 до 16:00</time>
            </p>
          </div>
          <span class="subscription__price">
            1 300
            <span class="subscription__symbol">
              Р
            </span>
          </span>
          <div class="subscription__button">
            <button class="button" type="button">
              Заказать абонемент
            </button>
          </div>
        </article>
      </li>

      <li class="subscription__item">
        <article class="subscription__article">
          <span class="subscription__caption">
            Безлимит
          </span>
          <div class="subscription__description">
            <p>
              Посещение не ограничено по времени
            </p>
          </div>
          <span class="subscription__price">
            2 800
            <span class="subscription__symbol">
              Р
            </span>
          </span>
          <div class="subscription__button">
            <button class="button" type="button">
              Заказать абонемент
            </button>
          </div>
        </article>
      </li>

      <li class="subscription__item">
        <article class="subscription__article">
          <span class="subscription__caption">
            Вечер
          </span>
          <div class="subscription__description">
            <p>
              Посещение
            </p>
            <p>
              <time>с 17:00 до 21:00</time>
            </p>
          </div>
          <span class="subscription__price">
            2 000
            <span class="subscription__symbol">
              Р
            </span>
          </span>
          <div class="subscription__button">
            <button class="button" type="button">
              Заказать абонемент
            </button>
          </div>
        </article>
      </li>
    </ul>

  </div>
</section>
