<!DOCTYPE html>
{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<html lang="en">
  {{ head('index', 'Main page') }}

<body>
  <div class="app">
    <!-- header -->
    {% include "blocks/header/header.njk" %}

    <main>
    {% include "blocks/hero/hero.njk" %}
    {% include "blocks/direction/direction.njk" %}
    {% include "blocks/subscription/subscription.njk" %}
    {% include "blocks/team/team.njk" %}
    {% include "blocks/reviews/reviews.njk" %}
    {% include "blocks/record/record.njk" %}
    </main>
    
    <!-- footer -->
    {% include "blocks/footer/footer.njk" %}
  </div>

  {{ scripts('index') }}
</body>

</html>
