.reviews {
  position: relative;
  margin-bottom: 85px;
  padding: 35px 0 30px;
  &__slider {
    max-width: 442px;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    max-width: 442px;
    margin: 0 auto;
  }
  &__article {
    padding: 15px 15px 30px;
    background-color: $color-white;
    &--hide {
      display: none;
    }
  }
  &__quote {
    width: 25px;
    height: 30px;
    margin-bottom: 12px;
  }
  &__content {
    margin-bottom: 25px;
    & p {
      line-height: 150%;
    }
    & p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__card {
    display: flex;
  }
  &__photo {
    width: 52px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__name {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    color: rgba(230, 92, 123, 0.7);
  }
  &__data {
    display: block;
    margin-bottom: 12px;
    color: rgba(142, 128, 169, 0.7);
  }
  &__social {
    display: flex;
    align-items: center;
    .social__item {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button-prev {
    transform: rotate(180deg);
  }
  &__pagination {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 47px;
  }
  @include media(M) {
    &__list {
      margin-bottom: 40px;
    }
    &__article {
      padding: 30px 57px 30px 87px;
      &--hide {
        display: inline-block;
      }
    }
    &__article:not(:last-child) {
      margin-bottom: 18px;
    }
    &__content {
      & p {
        font-size: 12px;
        line-height: 167%;
      }
    }
  }
  @include media(XL) {
    padding: 70px 0 147px;
    &__title {
      margin-bottom: 55px;
    }
    &__slider {
      max-width: 100%;
    }
    &__item {
      max-width: 100%;
    }
    &__wrapper {
      display: flex;
    }
    &__article:not(:last-child) {
      margin-right: 21px;
      margin-bottom: 0;
    }
    &__data {
      font-size: 10px;
    }
  }
}
