<div class="reviews">
      <div class="container">
        <h3 class="subscription__title title">
          Отзывы
        </h3>

        <div class="reviews__slider">
          <ul class="reviews__list">
            <li class="reviews__item">
              <article class="reviews__article">
                <img class="reviews__quote" src="images/icons/quote.svg" alt="">
                <div class="reviews__content">
                  <p>
                    Хожу на йогу вечером, чтобы расслабиться после тяжелого трудового дня. И после занятий наступает
                    спокойствие!
                  </p>
                  <p>
                    Йога это отличный способ быстро и качественно расслабиться. Спасибо инструктору Марине.
                  </p>
                </div>
                <div class="reviews__card">
                  <div class="reviews__photo" style="background-image: url(./assets/img/team/team-1.jpg)"></div>
                  <div class="reviews__description">
                    <span class="reviews__name">
                      Серёжа Попов
                    </span>
                    <time class="reviews__data">
                      16 мая 2018
                    </time>
                    <ul class="social social--reviews">
                      <li class="social__item social__item--reviews">
                        <a class="social__link" href="#">
                          <img src="./assets/img/icons/vkontakte.svg" alt="">
                        </a>
                      </li>
  
                      <li class="social__item">
                        <a class="social__link social__item--reviews" href="#">
                          <img src="./assets/img/icons/twitter.svg" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>