<section class="direction">
  <div class="container">
    <h3 class="direction__title title">
      Направления
    </h3>

    <ul class="direction__list">
      <li class="direction__item direction__item--column">
        <article class="direction__article">
          <div class="direction__image">
            <img src="./assets/img/direction/direction-1.jpg" alt="">
          </div>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Хатха-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 12:00 до 15:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 18:00 до 21:00</time>
                </p>
              </div>
              <span class="direction__trainer">
                Инструктор Емельянова Полина
              </span>
            </div>
            <button class="button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>

      <li class="direction__item direction__item--row-1">
        <article class="direction__article direction__article--row">
          <div class="direction__image">
            <img src="./assets/img/direction/direction-2.jpg" alt="">
          </div>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Ашатанга-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 11:00 до 14:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 19:00 до 21:00</time>
                </p>
              </div>
              <span class="direction__trainer">
                Инструктор Емельянова Полина
              </span>
            </div>
            <button class="button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>

      <li class="direction__item direction__item--row-2">
        <article class="direction__article direction__article--row">
          <div class="direction__image">
            <img src="./assets/img/direction/direction-3.jpg" alt="">
          </div>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Кундалини-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 12:00 до 15:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 18:00 до 21:00</time>
                </p>
              </div>
              <span class="direction__trainer">
                Инструктор Емельянова Полина
              </span>
            </div>
            <button class="button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
