<section class="direction">
  <div class="container">
    <h3 class="direction__title title">
      Направления
    </h3>

    <ul class="direction__list">
      <li class="direction__item direction__item--column">
        <article class="direction__article">
          <picture class="direction__image">
            <source srcset="./assets/img/direction/direction-1.jpg" media="(min-width: 600px)">
            <img src="./assets/img/direction/direction-big-1.jpg" alt="">
          </picture>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Хатха-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 12:00 до 15:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 18:00 до 21:00</time>
                </p>
              </div>
              <div class="direction__trainer">
                <p>
                  Инструктор Емельянова Полина
                </p>
                <div class="direction__button-wrapper direction__button-wrapper--column">
                  <button class="direction__button button-arrow" type="button"></button>
                </div>
              </div>
            </div>
            <button class="button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>

      <li class="direction__item direction__item--row-1">
        <article class="direction__article direction__article--row">
          <div class="direction__image">
            <img class="direction__img" src="./assets/img/direction/direction-big-2.jpg" alt="">
          </div>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Ашатанга-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 11:00 до 14:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 19:00 до 21:00</time>
                </p>
              </div>
              <div class="direction__trainer-wrapper">
                <span class="direction__trainer">
                  Инструктор Емельянова Полина
                </span>
                <div class="direction__button-wrapper">
                  <button class="direction__button button-arrow" type="button"></button>
                </div>
              </div>
            </div>
            <button class="direction__button--hide button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>

      <li class="direction__item direction__item--row-2">
        <article class="direction__article direction__article--row">
          <div class="direction__image">
            <img class="direction__img" src="./assets/img/direction/direction-big-3.jpg" alt="">
          </div>
          <div class="direction__wrapper">
            <div class="direction__content">
              <span class="direction__caption">
                Кундалини-йога
              </span>
              <div class="direction__time">
                <p>
                  Пн, Ср, Пт – <time>с 12:00 до 15:00</time>
                </p>
                <p>
                  Вт, Чт – <time>с 18:00 до 21:00</time>
                </p>
              </div>
              <div class="direction__trainer-wrapper">
                <span class="direction__trainer">
                  Инструктор Емельянова Полина
                </span>
                <div class="direction__button-wrapper">
                  <button class="direction__button button-arrow" type="button"></button>
                </div>
              </div>
            </div>
            <button class="direction__button--hide button-arrow button-arrow--direction" type="button"></button>
          </div>
        </article>
      </li>

      <li class="direction__item direction__item--row-3">
        <a class="direction__link button" type="submit">
          Смотреть больше
        </a>
      </li>
    </ul>
  </div>
</section>
