.direction {
  padding: 70px 0 32px;
  @include bg-image;
  background-size: contain;
  &__card {
    margin-bottom: 30px;
    &--bottom {
      margin-bottom: 0;
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }
  &__wrapper {
    display: flex;
  }
  &__content {
    width: 100%;
    padding: 18px 20px 14px;
    background-color: $color-white;
  }
  &__image {
    margin-bottom: -3px;
  }
  &__caption {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
  }
  &__time {
    max-width: 155px;
    margin-bottom: 8px;
    & p {
      margin-bottom: 5px;
    }
  }
  &__trainer {
    display: block;
    max-width: 110px;
    line-height: 150%;
    color: $color-pink;
  }
  &__button-wrapper {
    display: none;
  }
  &__button {
    background-color: $color-purple;
    &:hover {
      background-color: $color-pink;
    }
  }
  &__link {
    display: none;
  }
  @include media(M) {
    padding: 70px 0 83px;
    &::after {
      content: "02";
    }
    &__title {
      margin-bottom: 37px;
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__card {
      margin-bottom: 0;
      &--column {
        max-width: 247px;
        margin-right: 22px;
      }
      &--row:nth-child(1) {
        margin-bottom: 20px;
      }
      &--row:nth-child(2) {
        margin-bottom: 38px;
      }
    }
    &__content {
      padding: 18px 20px;
    }
    &__row {
      width: 100%;
      max-width: 354px;
    }
    &__article--row {
      flex-direction: row;
      .direction__image {
        width: 100%;
        max-width: 148px;
        min-height: auto;
      }
      .direction__content {
        padding: 21px 24px 14px 20px;
      }
      .direction__trainer-wrapper {
        display: flex;
      }
      .direction__trainer {
        max-width: 115px;
        margin-right: 24px;
      }
      .direction__button {
        padding: 10px 15px;
      }
    }
    &__button-wrapper {
      display: inline-block;
      &--column {
        display: none;
      }
    }
    &__button--hide {
      display: none;
    }
    &__link-wrapper {
      margin-top: auto;
    }
    &__link {
      display: block;
      width: 100%;
      text-align: center;
      color: $color-purple;
      background-color: $color-white;
      box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
      &:hover {
        color: $color-white;
      }
    }
  }
  @include media(XL) {
    padding: 70px 0 77px;
    &__title {
      margin-bottom: 57px;
    }
    &__card {
      &--column {
        max-width: 366px;
        margin-right: 22px;
      }
      &--row:nth-child(1) {
        margin-bottom: 28px;
      }
      &--row:nth-child(2) {
        margin-bottom: 61px;
      }
    }
    &__content {
      padding: 38px 10px 23px 46px;
    }
    &__trainer {
      width: 100%;
      max-width: 125px;
    }
    &__row {
      max-width: 525px;
    }
    &__article--row {
      .direction__image {
        width: 100%;
        max-width: 220px;
      }
      .direction__img {
        width: 100%;
        max-width: 220px;
      }
      .direction__wrapper {
        width: 100%;
      }
      .direction__content {
        padding: 28px 34px;
      }
      .direction__trainer {
        max-width: 126px;
        margin-right: 67px;
      }
      .direction__button {
        padding: 15px 23px;
      }
    }
    &__caption {
      margin-bottom: 18px;
      font-size: 16px;
    }
    &__time {
      max-width: 170px;
      margin-bottom: 17px;
      & p {
        margin-bottom: 7px;
      }
    }
    &__link {
      padding: 18px 10px;
      font-size: 12px;
    }
  }
}
