<section class="team">
  <div class="container">
    <h3 class="team__title title">
      Наша команда
    </h3>

    <div class="team__slider">
      <ul class="team__list">
        <li class="team__item">
          <article class="team__article">
            <div class="team__card">
              <div class="team__photo">
                <img class="team__image" src="./assets/img/team/team-1.jpg" alt="">
              </div>
              <div class="team__description">
                <div class="team__text">
                  <span class="team__name">
                    Инструктор Серёжа Попов
                  </span>
                  <p>
                    Хатха-йога
                  </p>
                </div>
                <div class="team__wrapper">
                  <ul class="team__social social">
                    <li class="social__item">
                      <a class="social__link" href="#">
                        <img src="./assets/img/icons/vkontakte.svg" alt="">
                      </a>
                    </li>

                    <li class="social__item">
                      <a class="social__link" href="#">
                        <img src="./assets/img/icons/twitter.svg" alt="">
                      </a>
                    </li>
                  </ul>
                  <button class="team__button">
                    Смотреть
                  </button>
                </div>
              </div>
            </div>

            <div class="team__content">
              <span class="team__caption">
                Серёжа Попов
              </span>
              <span class="team__experience">
                Опыт преподавания: 8 лет
              </span>
              <p>
                Практикует с 2011 года, является сертифицированным инструктором по флоу- йоге. Большой опыт
                преподавания йоги для начинающих и продолжающих.
              </p>
              <p>
                Обучался в Индии (International Association of Yoga: classical yoga, master of principles yoga
                therapy), Непале (опыт медитативных и дыхательных техник, проживание в Ашраме), Москва (Аштанга йога
                центр 108 А.Константинова), Московский центр классической йоги Виктора Бойко.
              </p>
              <p>
                Сертифицированный инструктор по фитнесу и йоге (БГУФК), по массажу (Оздоровительный Витал – центр
                №401).
              </p>
              <p>
                Организатор и участник многочисленных конвенций и семинаров по йоге, медитативным техникам и здоровому
                питанию.
              </p>
            </div>
          </article>
        </li>
      </ul>


      <!-- пока ещё не разобрался до конца со слайдером -->
      <!-- <div class="swiper-button__prev">

          </div>
          <div class="swiper-button__next">

          </div> -->

    </div>
  </div>
</section>
