.team {
  position: relative;
  padding: 35px 0 26px;
  &__title {
    margin-bottom: 36px;
  }
  &__article {
    max-width: 228px;
    margin: 0 auto;
  }
  &__card {
    display: flex;
    margin-bottom: 23px;
    &--hide {
      display: none;
    }
  }
  &__photo {
    width: 100%;
    max-width: 82px;
  }
  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px 18px 15px;
    background-color: $color-white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }
  &__name {
    display: block;
    max-width: 75px;
    margin-bottom: 9px;
    line-height: 150%;
    color: $color-pink;
  }
  &__social {
    .social__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__button {
    display: none;
  }
  &__content {
    & p {
      line-height: 150%;
    }
    & p:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  &__caption {
    display: none;
  }
  &__experience {
    display: block;
    margin-bottom: 15px;
    color: $color-pink;
  }
  // &__button-mobile {
  //   position: absolute;
  //   top: 28px;
  //   z-index: 200;
  // }
  &__button-prev {
    transform: rotate(180deg);
  }
  // &__button-next {
  //   right: 0;
  // }
  &__pagination {
    display: none;
  }
  @include media(M) {
    &__title {
      margin-bottom: 68px;
    }
    &__slider {
      width: 100%;
    }
    &__article {
      max-width: 100%;
    }
    &__list {
      padding-top: 35px;
    }
    &__item {
      max-width: 100%;
    }
    &__article {
      display: flex;
      justify-content: space-between;
    }
    &__card-wrapper {
      width: 50%;
      margin-bottom: 28px;
    }
    &__card {
      position: relative;
      align-self: start;
      width: 100%;
      max-width: 254px;
      margin-bottom: 0;
      margin-left: 15px;
      &:not(:last-child) {
        margin-bottom: 57px;
      }
      &--hide {
        display: inline-block;
      }
    }
    &__photo {
      position: absolute;
      bottom: 11px;
      left: -15px;
      width: 100%;
      max-width: 91px;
      min-height: 91px;
      background-size: cover;
    }
    &__description {
      padding: 10px 10px 10px 84px;
    }
    &__name {
      max-width: 90px;
      margin-bottom: 6px;
    }
    &__content {
      width: 50%;
      & p {
        line-height: 165%;
      }
    }
    &__caption {
      display: block;
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 700;
    }
    &__experience {
      margin-bottom: 13px;
      font-size: 12px;
    }
    &__social {
      justify-content: center;
      margin-bottom: 18px;
      .social__item:not(:last-child) {
        margin-right: 7px;
        margin-bottom: 0;
      }
      & svg {
        width: 10px;
        height: 7px;
      }
    }
    &__button {
      display: block;
      font-size: 10px;
      line-height: 167%;
      text-decoration: underline;
      transition: color 0.5s;
      cursor: pointer;
      &:hover {
        color: $color-pink;
      }
    }
    &__button-wrapper {
      display: flex;
      align-items: center;
      margin-left: 160px;
    }
    &__pagination {
      position: relative;
      bottom: 0;
      display: inline-block;
      width: 45px;
    }
  }
  @include media(XL) {
    padding: 70px 0;
    &__title {
      margin-bottom: 110px;
    }
    &__card-wrapper {
      margin-bottom: 44px;
    }
    &__card {
      max-width: 398px;
      margin-left: 0;
      padding: 56px 0 0 26px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__photo {
      bottom: 18px;
      left: 0;
      max-width: 142px;
      min-height: 142px;
    }
    &__description {
      padding: 19px 25px 19px 140px;
    }
    &__name {
      margin-bottom: 12px;
      line-height: 167%;
    }
    &__caption {
      margin-bottom: 14px;
      font-size: 18px;
    }
    &__experience {
      margin-bottom: 27px;
      font-size: 14px;
    }
    &__social {
      justify-content: flex-end;
      margin-top: 9px;
      margin-bottom: 27px;
      .social__item:not(:last-child) {
        margin-right: 12px;
      }
      & svg {
        width: 15px;
        height: 10px;
      }
    }
    &__button {
      font-size: 12px;
    }
    &__content p {
      line-height: 167%;
    }
    &__content p:not(:last-child) {
      margin-bottom: 17px;
    }
    &__button-wrapper {
      margin-left: 236px;
    }
    &__pagination {
      width: 66px;
      font-size: 16px;
    }
  }
}
