.hero {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__title {
    margin: 0 auto;
  }
  &__caption {
    display: block;
    margin-bottom: 30px;
    font-family: $font-family-title;
    font-size: 18px;
    font-weight: 400;
  }
  &__subtitle {
    display: block;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: "Geometria", sans-serif;
    font-size: 67px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.26em;
    text-shadow: 0 4px 50px rgba(131, 115, 161, 0.6);
    color: $color-white;
  }
  &__submit {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 8px;
  }
  &__text {
    max-width: 140px;
    text-align: left;
    color: $color-pink;
  }
  &__bottom {
    display: none;
  }
  @include media(M) {
    &__title {
      margin-top: auto;
    }
    &__caption {
      margin-bottom: 0;
      padding-left: 90px;
      text-align: left;
      font-size: 24px;
    }
    &__subtitle {
      font-size: 144px;
      letter-spacing: 0.34em;
    }
    &__text {
      line-height: 130%;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      margin-bottom: 50px;
      font-size: 12px;
    }
    &__social {
      .social__item:not(:last-child) {
        margin-right: 7px;
      }
    }
  }
  @include media(XL) {
    &__caption {
      margin-bottom: 23px;
      padding-left: 160px;
      font-size: 45px;
    }
    &__subtitle {
      padding-left: 47px;
      font-size: 265px;
      line-height: 100%;
    }
    &__text {
      max-width: 190px;
      font-size: 14px;
    }
    &__link {
      margin-right: 12px;
    }
    &__bottom {
      font-size: 16px;
    }
    &__social {
      & svg {
        width: 15px;
        height: 10px;
      }
    }
  }
}
