<section class="hero" style="background-image: url(./assets/img/header-bg.png)">
    <div class="container container--big">
      <div class="hero__wrapper">
        <span class="hero__caption">
          Почувствуй расслабление в своем теле
        </span>
        <span class="hero__subtitle">
          Yoga
        </span>


        <div class="hero__submit">
          <!-- возможно ссылка(не кнопка), для перехода в форму отправки заявки -->
          <div class="hero__link">
            <a class="button-arrow" href="#"></a>
          </div>
          <div class="hero__text">
            <p>
              Запишитесь на бесплатное пробное занятие
            </p>
          </div>
        </div>

        <div class="hero__bottom">
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <img src="./assets/img/icons/vkontakte.svg" alt="">
              </a>
            </li>

            <li class="social__item">
              <a class="social__link" href="#">
                <img src="./assets/img/icons/twitter.svg" alt="">
              </a>
            </li>
          </ul>

          <span class="hero__city">
            Санкт-Петербург
          </span>
        </div>
      </div>
    </div>
  </section>