@import "../../common/scss/variables";
@import "../../common/scss/mixins";

.record {
  padding: 70px 0;
  &__title {
    margin-bottom: 20px;
    text-align: left;
  }
  &__form {
    margin: 0 auto;
    text-align: center;
  }
  &__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-purple;
    &::placeholder {
      color: #c8c0db;
    }
  }
  @include media(M) {
    &__title {
      max-width: 411px;
      margin: 0 auto 20px;
    }
    &__form {
      max-width: 407px;
    }
  }
  @include media(XL) {
    padding: 0;
  }
}

.footer {
  background-color: $color-purple;
  background-repeat: no-repeat;
  background-position: 23% 0%;
  &__content {
    padding: 50px 0;
    color: $color-white;
    background-color: $color-purple;
  }
  &__list {
    margin-bottom: 30px;
    font-size: 12px;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__title {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
  }
  &__link {
    padding: 14px 0;
  }
  &__bottom {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__copyright {
    display: block;
    margin-bottom: 20px;
  }
  @include media(M) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      max-width: 336px;
    }
    &__item {
      width: 50%;
    }
  }
  @include media(XL) {
    padding-top: 70px;
    background-position: center;
    background-size: cover;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__content {
      order: -1;
      width: 50%;
      color: $color-purple;
      background-color: transparent;
    }
    &__list {
      max-width: 350px;
    }
    &__bottom-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__bottom {
      background-color: $color-purple;
    }
    &__copyright {
      margin-bottom: 0;
    }
    &__link {
      order: -1;
      padding: 30px 0;
    }
  }
}
