  <footer class="footer">
    <div class="container">
      <ul class="footer__list">
        <li class="footer__item">
          <span class="footer__title">
            Адрес:
          </span>
          <p>
            Московский проспект, 22
          </p>
        </li>

        <li class="footer__item">
          <span class="footer__title">
            График работы:
          </span>
          <p>
            Пн-Вс <time>с 11:00 до 21:00</time>
          </p>
        </li>

        <li class="footer__item">
          <span class="footer__title">
            Телефон:
          </span>
          <a class="phone__link" href="tel:88126901010">
            8 (812) 690-10-10
          </a>
        </li>

        <li class="footer__item">
          <span class="footer__title">
            Email:
          </span>
          <a class="footer__link" href="email:yogaspb@gmail.com">
            yogaspb@gmail.com
          </a>
        </li>
      </ul>

      <ul class="social social--footer">
        <li class="social__item">
          <a class="social__link" href="#">

          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">

          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">
            <img src="images/icons/facebook.svg" alt="">
          </a>
        </li>
      </ul>

      <div class="footer__bottom">
        <span class="footer__copyright">
          © 2018 Все права защищены
        </span>

        <a class="footer__link" href="#">
          Yogaspb.com
        </a>
      </div>
    </div>
  </footer>