.button-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 15px;
  background-color: $color-pink;
  border: none;
  transition: background-color 0.5s, background-image 0.5s;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &:hover {
    background-color: $color-purple;
  }
  &:hover::after {
    background-image: url(../img/icons/arrow.svg);
  }
  @include media(XL) {
    padding: 24px 28px;
  }
}

.button {
  padding: 12px 23px;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $color-white;
  background-color: $color-purple;
  border: none;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $color-pink;
  }
}

.button-slider {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid $color-purple;
  &::after {
    background-image: url(../img/icons/arrow-purple.svg);
  }
  @include media(XL) {
    &--reviews {
      background-color: $color-purple;
      &:hover {
        background-color: $color-white;
      }
      &::after {
        background-image: url(../img/icons/arrow.svg);
      }
      &:hover::after {
        background-image: url(../img/icons/arrow-purple.svg);
      }
    }
  }
  @include media(XL) {
    padding: 15px 23px;
  }
}
