.button-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 15px;
  background-color: $color-pink;
  border: none;
  cursor: pointer;
  &--direction {
    padding: 13px 21px;
    background-color: $color-purple;
  }
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @include media(XL) {
    padding: 24px 28px;
  }
}

.button {
  padding: 12px 23px;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $color-white;
  background-color: $color-purple;
  border: none;
  cursor: pointer;
  &--form {
    width: 100%;
    padding: 21px 67px;
    font-size: 14px;
    background-color: $color-pink;
  }
}
