@import "mixins";
@import "fonts";

.container {
  @include container();
}

@include media(XL) {
  .container__big {
    max-width: 1190px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  @include media(M) {
    font-size: 21px;
  }
  @include media(XL) {
    font-size: 30px;
  }
}
