@import "mixins";
@import "fonts";

.container {
  @include container();
}

@include media(XL) {
  .container__big {
    max-width: 1190px;
    padding: 0 15px;
  }
}

section {
  position: relative;
  @include media(M) {
    &::after {
      content: "01";
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-45%);
      font-size: 18px;
      color: rgba(174, 164, 200, 0.5);
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      height: 1px;
      background-color: rgba(139, 126, 172, 0.73);
    }
  }
  @include media(XL) {
    &::after {
      right: 68px;
      font-size: 30px;
    }
    &::before {
      width: 58px;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  @include media(M) {
    font-size: 21px;
  }
  @include media(XL) {
    font-size: 30px;
  }
}
