// Responsive

$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1400px;
$quadHD: 1920px;

// Colors

$color-purple: #8e80a9;
$color-pink: #e65c7b;
$color-white: #fff;

$font-family-base: "Geometria", "Helvetica", "Arial", sans-serif;
$font-family-title: "Caveat", "Helvetica", "Arial", sans-serif;
