.record {
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__text {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
  }
  &__form {
    margin: 0 auto;
    text-align: center;
  }
  &__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-purple;
    &::placeholder {
      color: #c8c0db;
    }
  }
  @include media(M) {
    &__text {
      max-width: 407px;
      margin: 0 auto 20px;
    }
    &__form {
      max-width: 407px;
    }
  }
}
