    <div class="record" style="background-image: url(./assets/img/record-bg.jpg);">
      <div class="container">
        <span class="record__text">
          Запишитесь на бесплатное пробное занятие
        </span>
        <form class="record__form">
          <input class="record__input" type="text" name="text" placeholder="Ваше имя" required aria-label="Введите имя">
          <input class="record__input" type="phone" name="tel" placeholder="Ваш телефон" required
            aria-label="Введите телефон">
          <div class="record__button">
            <button class="button button--form" type="submit">
              Оставить заявку
            </button>
          </div>
        </form>
      </div>
    </div>