<header class="header">
  <div class="container container__big">
    <div class="header__wrapper">

      <nav class="menu">
        <button class="menu__burger" type="button">
          Меню
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">
              Главная
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Направление
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Абонементы
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Наша команда
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Отзывы
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Контакты
            </a>
          </li>
        </ul>
      </nav>

      <div class="phone">
        <a class="phone__link" href="tel:88126901010">
          8 (812) 690-10-10
        </a>
      </div>

    </div>
  </div>
</header>
