.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
  // &--scroll {
  //   margin-top: 0;
  //   background-color: #fff;
  //   transition: background-color 1s, margin-top 1s;
  // }
  @include media(M) {
    margin-top: 23px;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      font-size: 14px;
    }
  }
  @include media(XL) {
    margin-top: 55px;
    &--scroll {
      margin-top: 0;
      background-color: #fff;
    }
  }
}

.menu {
  text-align: right;
  font-size: 0;
  &__burger {
    position: relative;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
    z-index: 999;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transform: scaleX(-1);
      width: 30px;
      height: 15px;
      padding: 23px 0;
      background-image: url(../img/icons/burger.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &:hover {
      color: $color-pink;
    }
  }
  &__list {
    display: none;
  }
  @include media(M) {
    &__burger {
      padding: 14px 0 14px 20px;
      font-size: 12px;
      &::after {
        top: -3px;
        left: 0;
        transform: scaleX(1);
        width: 13px;
        height: 7px;
      }
    }
  }
  @include media(XL) {
    &__burger {
      padding: 14px 0 14px 36px;
      font-size: 16px;
      &::after {
        top: 0;
        width: 24px;
        height: 12px;
      }
    }
  }
}
