.header {
  position: absolute;
  right: 0;
  left: 0;
  transition: background-color 1s, margin-top 1s;
  z-index: 999;
  @include media(M) {
    position: fixed;
    margin-top: 23px;
    padding: 5px 0;
    &--scroll {
      margin-top: 0;
      background-color: #f2edff;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      font-size: 14px;
    }
  }
  @include media(XL) {
    margin-top: 55px;
    padding: 10px 0;
    &--scroll {
      margin-top: 0;
    }
  }
}

.menu {
  text-align: right;
  &__burger {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 15px;
    padding: 20px 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
    z-index: 999;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transform: scaleX(-1);
      width: 30px;
      height: 15px;
      background-image: url(../img/icons/burger.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &:hover {
      color: $color-pink;
    }
  }
  &__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-1000px);
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    text-align: center;
    font-size: 16px;
    background-color: #f2edff;
    overflow: scroll;
    transition: transform 0.5s;
    &--active {
      transform: translateY(0);
    }
  }
  &__item {
    padding: 14px 0;
  }
  &__item:not(:last-child) {
    margin-bottom: 15px;
  }
  @include media(M) {
    &__burger {
      padding: 20px 40px 20px 20px;
      font-size: 12px;
      &::after {
        top: 14px;
        left: 0;
        transform: scaleX(1);
        width: 13px;
        height: 7px;
      }
    }
    &__list {
      top: -23px;
      height: 500px;
      padding-top: 120px;
    }
    &__link {
      transition: color 0.5s;
      &:hover {
        color: $color-pink;
      }
    }
  }
  @include media(XL) {
    &__burger {
      padding: 20px 40px 20px 40px;
      font-size: 16px;
      &::after {
        width: 24px;
        height: 12px;
      }
    }
    &__list {
      top: -55px;
    }
  }
}
